<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Page</title>
  </head>
  <body>
    <header>
        <h1>Edit</h1>
          <ul>
            <li>
              <a href="/blog">Blog Home</a>
            </li>
          </ul>
    </header>
    <main>
        <h2>Blog Post Attributes:</h2>
        <form action="/blog/<%=post._id%>?_method=PUT" method="post">
          <input name="title" placeholder="title" value="<%=post.title%>"/> <br/>
          <input name="body" placeholder="body" value="<%=post.body%>"/> <br/>
          <input name="img" placeholder="img url" value="<%=post.img%>"/> <br/>
          <input name="category" placeholder="category" value="<%=post.category%>"/> <br/>
          <input type="submit" value="Update Post"/>
        </form>
    </main>
  </body>
</html>
